<div class="container-fluid">
    <div class="animated fadeIn">

        <!-- INICIO DO FORMULÁRIO DE PESQUISA -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Busca de usuário</strong>
                    </div>
                    <div class="card-body">

                        <!-- INÍCIO ESTADO E MUNICIPIO -->
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for="estado">Estado</label>
                                <select class="form-control" id="estado">
                                    <option selected="" value="12">AC - Acre</option>
                                    <option value="27">AL - Alagoas</option>
                                    <option value="13">AM - Amazonas</option>
                                    <option value="16">AP - Amapá</option>
                                    <option value="29">BA - Bahia</option>
                                    <option value="23">CE - Ceará</option>
                                    <option value="53">DF - Distrito Federal</option>
                                    <option value="32">ES - Espírito Santo</option>
                                    <option value="52">GO - Goiás</option>
                                    <option value="21">MA - Maranhão</option>
                                    <option value="31">MG - Minas Gerais</option>
                                    <option value="50">MS - Mato Grosso do Sul</option>
                                    <option value="51">MT - Mato Grosso</option>
                                    <option value="15">PA - Pará</option>
                                    <option value="25">PB - Paraíba</option>
                                    <option value="26">PE - Pernambuco</option>
                                    <option value="22">PI - Piauí</option>
                                    <option value="41">PR - Paraná</option>
                                    <option value="33">RJ - Rio de Janeiro</option>
                                    <option value="24">RN - Rio Grande do Norte</option>
                                    <option value="11">RO - Rondônia</option>
                                    <option value="14">RR - Roraima</option>
                                    <option value="43">RS - Rio Grande do Sul</option>
                                    <option value="42">SC - Santa Catarina</option>
                                    <option value="28">SE - Sergipe</option>
                                    <option value="35">SP - São Paulo</option>
                                    <option value="17">TO - Tocantins</option>
                                </select>
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="municipio">Município</label>
                                <select class="form-control" id="municipio">
                                    <option>-</option>
                                </select>
                            </div>

                            <div class="col-sm-6">
                            </div>

                        </div>
                        <!-- FIM DO ESTADO E MUNICÍPIO -->

                        <!-- NOME -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                        <!--/.row-->

                        <!-- NIS -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nis">NIS</label>
                                    <input type="text" class="form-control" id="nis"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                        <!--/.row-->

                        <!-- BPC - NB -->
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nb">Número do benefício (BPC)</label>
                                    <input type="text" class="form-control" id="nb"
                                           placeholder="">
                                </div>
                            </div>
                        </div>
                        <!--/.row-->

                        <!-- INICIO DA DATA NASCIMENTO -->
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="estado">Data Nascimento</label>

                                <div class="form-inline">

                                    <!-- DIA -->
                                    <div class="form-group">
                                        <select class="form-control" id="dia">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                                    </div>

                                    <!-- MÊS -->
                                    <div class="form-group">
                                        <label> - </label>
                                        <select class="form-control" id="mes">
                                            <option>Janeiro</option>
                                            <option>Fevereiro</option>
                                            <option>Março</option>
                                        </select>
                                    </div>

                                    <!-- ANO -->
                                    <div class="form-group">
                                        <label> - </label>
                                        <select class="form-control" id="ano">
                                            <option>2001</option>
                                            <option>2002</option>
                                            <option>2003</option>
                                            <option>2004</option>
                                            <option>2005</option>
                                            <option>2006</option>
                                            <option>2007</option>
                                            <option>2008</option>
                                            <option>2009</option>
                                            <option>2010</option>
                                            <option>2011</option>
                                            <option>2012</option>
                                        </select>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- FIM DA DATA NASCIMENTO -->


                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-search"></i>
                            &nbsp; &nbsp; Buscar &nbsp; &nbsp;
                        </button>
                    </div>
                </div>

            </div>
            <!--/.col-->

        </div>
        <!-- FIM DO FORMULÁRIO DE PESQUISA -->

    </div>

</div>
<!-- /.conainer-fluid -->